<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.vik.app.apk" android:installLocation="preferExternal" android:versionName="1.0.4" android:versionCode="11">
	<uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="ВиК" android:theme="@style/MyTheme" android:icon="@drawable/vik"></application>
</manifest>